.dropZone{
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     padding: 0.5em;
     background-color: #4a8bfc; /*#50b0ff;*/
     min-height: 108px;
     min-width: 128px;
     cursor: pointer;
    transition: background 0.2s;
 }
.dropZone:hover{
    background-color: #7cf;
    transition: background 0.2s;
}
.dropZone:active{
    background-color: #aef;
    transition: background 0.2s;
}
.dropZone::after{
    content: '';
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    position: absolute;
    border: 2px dashed #7cf;
    transition: border 0.2s;
}
.dropZone:hover::after,
.dropZone:active::after{
    border-color: #08f;
    transition: border 0.2s;
}
.dropZone-input{
    display: none;
}