﻿.content-container{
	padding: 2em;
	min-height: calc(100% - 6em);
	min-width: 370px;
	display: flex;
}

.button-easy-blue:not(.radiobutton-active){
	-moz-user-select: none;
	-webkit-user-select: none;
	background-color: var(--color-blue);
	cursor: pointer;
	transition: 0.2s;
	&:hover{
		background-color: var(--color-blue-hover);
		transition: 0.2s;
	}
	&:active{
		background-color: var(--color-blue-active);
		transition: 0.2s;
	}
}

.radiobutton-active{
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	background-color: var(--color-blue-active);
	transition: 0.2s;
}


.encoding-container{
	display: none;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1095px;
}

.encode-input-blocks{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1095px;
	gap: 1em;
	height: max-content;
}

.button-left, .button-right{
	height: 3em;
	width: 10em;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.8em;
}
.button-left{
	border-radius: 1.4em / 50% 0 0 50%;
}
.button-right{
	border-radius: 1.4em / 0 50% 50% 0;
}

.encod-left{
	width: 310px;
}
.encod-center{
	max-width: 512px;
	min-width: 320px;
	flex-grow: 1;
	@media (max-width: 1060px){
		max-width: none;
	}
}
.encod-right{
	width: 240px;
	@media (max-width: 1060px){
		width: 100%;
	}

	&__input{
		height: 7em;
		width: 15em;
		@media (max-width: 1060px) {
			width: 100%;
			height: 4em;
		}

		& > textarea{
			&:extend(.textarea-settings);
		}
	}
}


.dropZone-en-im{
	height: 7em;
}

.dropZone{
	flex-direction: column;
	padding: 0 1em;
}
.dz-fileName-fake, .dz-title, .dz-fileName{
	/*height: 2em;*/
	text-align: center;
}
.dz-fileName{
	width: 75%;
	position: relative;
}
.dz-fileName > div{
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	opacity: 0.3;
}


.img-info{
	margin-top: 1em;
}

.img-info-title{
	display: flex;
	font-size: 13px;
	margin-bottom: 0.5em;

	&__space{
		width: 10em;
	}
	&__full-size{
		width: 8em;
	}
	&__x-size{
		width: 5.8em;
	}
}

.img-info-content{
	background-color: #fff;
	width: 20.7em;
	min-height: 2em;
	display: grid;
	grid-template-columns: 1.8em 6.7em 2px 6.4em 2px calc(5.6em - 4px);
	border: solid 2px;
	border-radius: 1em / 50%;
	font-size: 15px;

	& > *{
		height: 100%;
		display: flex;
		align-items: center;
	}
}
.img-info-circle{
	width: 1.6em;
	height: 1.6em;
	border: 2px solid;
	border-radius: 50%;
	margin: 0.2em 0 0.2em 0.2em;
}
.img-info-title,
.img-info-full-size, .img-info-x-size{
	padding: 0.2em;
}
.img-info-title{
	font-size: 13.5px;
}
.img-info-full-size, .img-info-x-size{
	font-family: monospace;
	font-size: 13px;
}
.img-info-vLine{
	position: relative;
}
.img-info-vLine::after{
	content: '';
	position: absolute;
	height: calc(100% - 1em);
	border-right: 2px solid;
}
.img-info__need.img-info-content, .img-info__need .img-info-circle, .img-info__need > .img-info-vLine::after{
	border-color: var(--color-blue);
}
.img-info__need{
	margin-bottom: 0.5em;
}
.img-info__available.img-info-content, .img-info__available .img-info-circle, .img-info__available > .img-info-vLine::after{
	border-color: var(--color-gray);
}
.img-info-green.img-info-content, .img-info-green .img-info-circle, .img-info-green > .img-info-vLine::after{
	border-color: #03c416;
}
.img-info-green .img-info-circle{
	background-color: #03c4166a;
}
.img-info-red.img-info-content, .img-info-red .img-info-circle, .img-info-red > .img-info-vLine::after{
	border-color: #c40303;
}
.img-info-red .img-info-circle{
	background-color: #c403036a;
}

.en-cen-txt-or-fl-bt{
	height: 2em;
	max-height: 2em;
}
.en-cen-txt-or-fl-bt > div{
	height: 100%;
}
.en-cen-input{
	width: 100%;
	transition: 0.2s;
	& > textarea{
		&:extend(.textarea-settings);
	}
}

.en-cen-input-container,
.encod-right__input, .de-password-input,
.decoding-output-data-text-block{
	border: solid 3px var(--color-blue-active); /*var(--color-blue);*/
}
.textarea-settings{
	padding: 0.5em;
	margin: 0;
	height: 100%;
	width: 100%;
	border-width: 0;
	background-color: #ffffff;
}
.de-password-input{
	height: 7em;
	width: 15em;
	& > textarea{
		&:extend(.textarea-settings);
	}
}

.dropZone-en-f{
	display: none;
}
.button-big{
	width: 15em;
	height: 3em;
	border-radius: 1.4em / 50%;
	margin: 2em 0;
}
.button-gray{
	background-color: #808080;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	transition: 0.2s;
}
.encoding-download,
.decoding-download{
	margin: 0 1em;
	width: 6em;
}
.en-b-d-container__fake-download{
	margin: 0 1em;
	width: 3em;
}
.en-b-d-container__fake-download{
	height: 0;
}
.encoding-download,
.decoding-download{
	text-align: center;
	padding: 0.2em;
}
.encoding-download{
	height: 3em;
	width: 3em;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.encoding-download > img,
.decoding-download > img{
	height: 70%;
}

.like-title-2{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	height: 2em;
	max-height: 2em;
}
.divCanvas, .encoding-download-link{
	display: none;
}


.decoding-container{
	display: none;
}
.dropZone-de-im{
	height: 7em;
	width: 15em;
	margin-right: 1em;
}

.decoding-output-container > div:nth-child(1){
	margin-bottom: 0.5em;
}
.decoding-output-data__null,
.decoding-output-data__text,
.decoding-output-data__file{
	display: none;
}
.decoding-output-data-text-block{
	height: 7em;
	width: 31em;
	margin-bottom: 0.5em;
	& > textarea{
		&:extend(.textarea-settings);
	}
}
.decoding-output-data-text-copy-button{
	padding: 0.2em;
	text-align: center;
}
.decoding-output-data-file-name{
	text-align: end;
	width: 23em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}