/*.language-container{
    display: none;
}*/
.menu-top{
    margin: 0;
    height: 3em;
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 470px;
    background-color: var(--color-main-bg-2);

    @media (min-width: 1160px){
        justify-content: center;
    }
    @media (min-width: 658px){
        padding: 0 2em;
    }
    @media (max-width: 658px){
        padding: 0;
    }
    &__content{
        //display: flex;
        width: 100%;
        height: 100%;
        max-width: calc(100% - 2em);

        @media (min-width: 1160px){
            max-width: 1095px;
        }
    }

    &__button-home{
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 0.5em;
        padding-right: 0.5em;
        text-decoration: none;
        color: #000000;

        @media (min-width: 658px){
            margin-right: 2em;
            margin-left: 2em;
        }
        @media (max-width: 658px){
            margin-right: 1em;
            margin-left: 0;
        }
    }

    &__language-name{
        justify-content: end;
        margin-right: 1em;
    }
}
.menu-language{
    display: flex;
    align-items: center;
}
.icon-lang{
    background-color: var(--color-blue-dark);
    margin: 0 0.2em;
    padding: 2px;
    position: relative;
    cursor: pointer;

    &::after{
        content: '';
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        background-color: var(--color-blue);
        opacity: 0;
        transition: 0.2s;
    }
    &:hover::after{
        opacity: 30%;
        transition: 0.2s;
    }
    &:active::after{
        background-color: #ffffff;
        opacity: 30%;
        transition: 0.2s;
    }
    & > svg{
        height: 1em;
        width: auto;
    }
}
.langActive{
    border-width: 0;
    background-color: var(--color-blue);
    margin: 0 0.2em;
    padding: 2px;
    position: relative;
    cursor: pointer;

    &::after{
        content: '';
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        background-color: var(--color-blue);
        opacity: 30%;
    }
}
.button-easy-gray{
    background-color: var(--color-gray);
    transition: 0.2s;

    &:hover{
        background-color: var(--color-gray-hover);
        transition: 0.2s;
    }
    &:active{
        background-color: var(--color-gray-active);
        transition: 0.2s;
    }
}


