.bottom{
    width: 100%;
    color: #FFFFFF;
    background: #0C0C12;
    padding: 1em 0;
    height:3em;
}
.bottom a{
    color: #FFFFFF;
    text-decoration: none;
}
#infoFrame{
    position: absolute;
    top: 100%;
    height: 100%;
    width: calc(100% - (0.55 * (100% - 320px)));
    border: 2px solid var(--color-blue);
    background-color: var(--color-main-bg-1);
}
.bottom-iframe-container{
    position: absolute;
    display: none;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.displayHide{
    display: none;
}
.bottom-container-show{
    display: flex;
    animation: bottom-container-show 1 0.3s ease forwards;
}
.bottom-container-hide{
    display: flex;
    animation: bottom-container-hide 1 0.3s ease forwards;
}
@keyframes bottom-container-show {
    0%{
        background-color: rgba(0,0,0,0.0);
    }
    100%{
        background-color: rgba(0,0,0,0.5);
    }
}
@keyframes bottom-container-hide {
    0%{
        background-color: rgba(0,0,0,0.5);
    }
    100%{
        background-color: rgba(0,0,0,0.0);
    }
}

.bottom-iframe-show{
    animation: bottom-iframe-show 1 0.3s ease forwards;
}
.bottom-iframe-hide{
    animation: bottom-iframe-hide 1 0.3s ease forwards;
}
.bottom-l2{
	display:none;
}

@keyframes bottom-iframe-show {
    0%{
        top: 100%;
    }
    100%{
        top: 0;
    }
}
@keyframes bottom-iframe-hide {
    0%{
        top: 0;
    }
    100%{
        top: 100%;
    }
}
