html, body{
	min-width: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
}
body{
	height:100%;
	font-family: Roboto, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	min-width: 376px;
}
.b-top{
	width: 100%;
	height: 3em;
}
.b-center{
	min-height: calc(100% - 6em);
}
.b-bottom{
	width: 100%;
	height: 3em;
}