:root{
	--color-main-bg-1: #ffffff;
	--color-main-bg-2: #eeeef0;
	--color-blue-dark: #2323B5;
	--color-blue: 	#4a8bfc;
	--color-blue-hover: #50b0ff;
	--color-blue-active: #7cf;

	--color-gray: #b9b9c1;
	--color-gray-hover: #d4d4d9;
	--color-gray-active: #f7f7f8;
	--color-black: #151515;
}

*{
	box-sizing: border-box;
}
html, body{
	height: 100%;
	width: 100%;
	min-width: min-content;
}
input, select, textarea, button{
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
	outline: none;
}
textarea{
	resize: none;
}

.nr{
	-moz-user-select: none;
	-webkit-user-select: none;
}
.h100, .h-100{
	height: 100%;
}
.w100, .w-100{
	width: 100%;
}
.hw-100, .wh-100, .hw100, .wh100{
	height: 100%;
	width: 100%;
}
.flex, .f {
	display: flex;
}
.f-space{
	flex-grow: 1;
}
.f-vCenter{
	align-items: center;
}
.f-vBottom{
	align-items: flex-end;
}
.f-hCenter{
	justify-content: center;
}
.f-vhCenter, .f-hvCenter{
	align-items: center;
	justify-content: center;
}
.f-column{
	flex-direction: column;
}
.grid{
	display: grid;
}
.f-row{
	flex-direction: row;
}
.t-up{
	text-transform: uppercase;
}
.t-center{
	text-align: center;
}
.flex-space, .f-space{
	flex-grow: 1;
}